.cardText{
    background-color: cadetblue;
}


.cardcontainer{
    display: flex;
    justify-content: center;
align-items: center;
border:30px;
padding: 30px;


}

.cardImg{
    width: 15.8rem;
    height: 10rem;
  }

.badgeClass{
    background-color: black;
    color: greenyellow;
    border-radius: 5px;
    width: 50rem;
    height: 50rem;
    padding: 10px;
}